IMPORT NEEDED PACKAGES

In [2]:
import numpy as np
import pandas as pd

DOWNLOAD DATA

In [6]:
df = pd.read_csv("C:/Users/USER/Desktop/Code/Python project/datasets/nyc_airbnb_2023.csv", low_memory=False)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,49,2022-06-21,0.30,3,314,1,NaN
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.30,2,365,0,NaN
2,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.72,1,0,0,NaN
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,575,2023-02-19,3.41,1,106,52,NaN
4,5136,"Large Sunny Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,60,3,2022-08-10,0.03,1,181,1,NaN

EDA OF AIRBNB DATA

In [8]:

class ExploratoryDataAnalysis:
    def __init__(self, dataframe) -> None:
        self.info = dataframe.info
        self.describe = dataframe.describe()
        self.is_isna = dataframe.isnull.sum()

    def dataframe_info(self):
        return f"DATAFRAME DIGEST:\n\nINFO::..\n{self.info}\nDATA-DESCRIBTION::..{self.describe}\nNAN-VALUES::..{self.is_isna}"

    def plot(self):
        self.hist_plot = self.dataframe

HEALLO

GETPUT